@use "sass:math";
@use "sass:map";
@use "sass:list";

//add on function
@function add_one($size){
    $value : (math.div($size, 1px) + 1) * 1px;
    @return $value;
}

//convert to em 
@function to_em($size){
    $value : math.div($size, 1px) * 0.0625em;
    @return $value;
}

//convert to rem
@function to_rem($size){
    $value : math.div($size, 1px) * 0.0625rem;
    @return $value;
}

//get map value
@function get_value($maps, $value){
    $returned_value: map-get($map: $maps, $key: $value);
    @return $returned_value;
}


//generate map
@function generate_liste($min, $step, $taille_liste){
    $counter: 0;
    $liste: ();
    $min_value: $min;

    @while $counter < $taille_liste{
        $liste: list.append($liste, $min_value);
        $min_value: $min_value + $step;
        $counter: $counter + 1;
    }

    @return $liste;
}

//concatenate
@function concatenate($val_1, $val_2){
    $result : $val_1 + $val_2;
    @return $result
}
