@use 'sass:list';

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

// Grid template
//==============

$counter: 1;

@mixin grid_template($cell_number, $flow, $cell_type, $screen:""){
    
    $flow_concatenate: func.concatenate($flow, "s");
    $cell_type_concatenate: func.concatenate($cell_type, "s");

    @while $counter <= ($cell_number) {
        @if $screen == "" {
            [#{var.$pref}~="#{$cell_type_concatenate}-#{$counter}"]{
                grid-template-#{$flow_concatenate}: repeat($counter, minmax(min-content, auto));
            }
        } @else{
            [#{var.$pref}~="#{func.get_value(var.$screen-type, $screen)}:#{$cell_type_concatenate}-#{$counter}"]{
                grid-template-#{$flow_concatenate}: repeat($counter, minmax(min-content, auto));
            }
        }

        $counter: $counter + 1;
    }
}

// Grid trame
//===========

$begin: 1;

@mixin grid_cell($cell_number, $flow, $position:"", $cell_type, $screen:"") {

    $screen_value: func.get_value(var.$screen-type, $screen);

    @while $begin <= ($cell_number) {

        [#{var.$pref}~="#{$cell_type}-#{$position}-#{$begin}"]{
            #{var.$grid}-#{$flow}-#{$position}: $begin;
        }

        $begin: $begin + 1;
    }
}

//breakpoints mixins
//==================
@mixin media_min($min){
    
    $min_value: func.get_value(var.$breakpoints, $min);

    @media screen and (min-width: func.to_em($min_value)){
        @content;
    }
}

@mixin media_max($max){
    
    $max_value: func.get_value(var.$breakpoints, $max);

    @media screen and (max-width: func.to_em($max_value)){
        @content;
    }
}

@mixin media_between($min, $max){

    $min_value: func.get_value(var.$breakpoints, $min);
    $max_value: func.get_value(var.$breakpoints, $max);

    @media screen and (min-width: func.to_em(func.add_one($min_value))) and (max-width: func.to_em($max_value)){
        @content;
    }
}

//grid margin
//===========
<<<<<<< HEAD
@mixin marge($screen, $min, $step, $dir:""){
    $sizes: (xs, sm, md, lg, xl);
    $values: func.generate_liste($min, $step);
    @each $key, $value in var.$screen-type{
        @if $screen == $key {
            @for $i from 1 through 5{
                @if $dir == ""{
                    [#{var.$pref}~="#{func.get_value(var.$screen-type, $screen)}-#{var.$margin}-#{var.$cell}-#{list.nth($sizes, $i)}"]{
                        gap: list.nth($values, $i)*1px;
=======

@mixin cell_margin($min, $step, $screen:""){
    $sizes: (xs, s, m, l, xl);
    $values: func.generate_liste($min, $step, list.length($sizes));

    @for $i from 1 through list.length($sizes){
        @if $screen == "" {
            [#{var.$pref}~="#{var.$dir-x}-#{var.$gap}-#{list.nth($sizes, $i)}"]{
                #{var.$column}-gap: list.nth($values, $i)*1px;
            }

            [#{var.$pref}~="#{var.$dir-y}-#{var.$gap}-#{list.nth($sizes, $i)}"]{
                #{var.$row}-gap: list.nth($values, $i)*1px;
            }

            [#{var.$pref}~="#{var.$gap}-#{list.nth($sizes, $i)}"]{
                gap: list.nth($values, $i)*1px;
            }
        } @else {
            @each $key, $value in var.$screen-type{
                @if $screen == $key{
                    [#{var.$pref}~="#{func.get_value(var.$screen-type, $screen)}:#{var.$dir-x}-#{var.$gap}-#{list.nth($sizes, $i)}"]{
                        #{var.$column}-gap: list.nth($values, $i)*1px;
>>>>>>> restructuration_0.5.0
                    }
        
                    [#{var.$pref}~="#{func.get_value(var.$screen-type, $screen)}:#{var.$dir-y}-#{var.$gap}-#{list.nth($sizes, $i)}"]{
                        #{var.$row}-gap: list.nth($values, $i)*1px;
                    }
        
                    [#{var.$pref}~="#{func.get_value(var.$screen-type, $screen)}:#{var.$gap}-#{list.nth($sizes, $i)}"]{
                        gap: list.nth($values, $i)*1px;
                    }
                }
            }
            
        }
    }
    
}