// Scheme attribut
//================
$pref                : 'sc';

// Layout container attribut
//==========================
$grid                : 'grid';
$flex                : 'flex';

//alignment properties
//====================
$start               : 'start';
$end                 : 'end';
$center              : 'center';
$stretch             : 'stretch';
$between             : 'between';
$around              : 'around';
$evenly              : 'evenly';

//alignment variables
//===================
$extend              : 'extend'; //!between
$spaced              : 'spaced'; //!around
$justify             : 'justify'; //!evenly
$left                : 'left';
$right               : 'right';
$center              : 'center';
$middle              : 'middle';
$top                 : 'top';
$bottom              : 'bottom';

//Flow container
//==============
$column              : 'column';
$row                 : 'row';

//Container axis
//==============
$dir-x               : 'col';
$dir-y               : 'row';

// Container children
//===================
$flex-items          : 'box';
$grid-items          : 'item';
$grid-content        : 'bloc';

// Grid cellule
//=============
$cellule             : 12;

// Cellule gap
//=======
$gap                 : 'gap';

// Screen type
//============
$screen-type: (
    "xsmall"  : xs,
    "small"   : sm,
    "medium"  : md,
    "large"   : lg,
    "xlarge"  : xl
);

// Breakpoint size
//================
$breakpoints: (
    "small"  : 320px,
    "medium" : 600px,
    "large"  : 1080px,
    "xlarge" : 1400px,
);


