@use '../abstracts/variables' as var;

//flex container
//==============
[#{var.$pref}~="#{var.$flex-container}"]{
    display: flex;
    flex-wrap: wrap;
}


//flex align items
//================
//justify content
[#{var.$pref}~="#{var.$flex-element}-#{var.$left}"]{
    justify-content: flex-start;
}

[#{var.$pref}~="#{var.$flex-element}-#{var.$right}"]{
    justify-content: flex-end;
}

[#{var.$pref}~="#{var.$flex-element}-#{var.$center}"]{
    justify-content: center;
}

[#{var.$pref}~="#{var.$flex-element}-#{var.$between}"]{
    justify-content: space-between;
}

[#{var.$pref}~="#{var.$flex-element}-#{var.$around}"]{
    justify-content: space-around;
}

[#{var.$pref}~="#{var.$flex-element}-#{var.$evenly}"]{
    justify-content: space-evenly;
}

//align content
[#{var.$pref}~="#{var.$flex-element}-#{var.$top}"]{
    align-items: flex-start;
}

[#{var.$pref}~="#{var.$flex-element}-#{var.$bottom}"]{
    align-items: flex-end;
}

[#{var.$pref}~="#{var.$flex-element}-#{var.$middle}"]{
    align-items:center;
}

//Align self
[#{var.$pref}-#{var.$flex-element}~="#{var.$top}"]{
    align-self: flex-start;
}

[#{var.$pref}-#{var.$flex-element}~="#{var.$middle}"]{
    align-self: center;
}

[#{var.$pref}-#{var.$flex-element}~="#{var.$bottom}"]{
    align-self: flex-end;
}