@use 'sass:map';

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins';

//Grid container 
//==============
[#{var.$pref}~="#{var.$grid}"] {
    display: grid;
}


//Generate cellule by screen size
//===============================

//----- small cellule generate
@include mixins.media-between('small', 'medium'){
    @include mixins.grid_template(var.$cellule, var.$column, var.$dir-x, 'small');
    @include mixins.cell_margin(8,4, 'small')

}

//----- medium cellule generate
@include mixins.media-between('medium', 'large'){
    @include mixins.grid_template(var.$cellule, var.$column, var.$dir-x, 'medium');
    @include mixins.cell_margin(16,8, 'medium')
}

//----- large cellule generate
@include mixins.media_min('large'){
    @include mixins.grid_template(var.$cellule, var.$column, var.$dir-x);
    @include mixins.grid_template(var.$cellule, var.$row, var.$dir-y);
    @include mixins.grid_cell(var.$cellule, var.$column, var.$start ,var.$dir-x);
    @include mixins.grid_cell(var.$cellule, var.$column, var.$end ,var.$dir-x);
    @include mixins.grid_cell(var.$cellule, var.$row, var.$start ,var.$dir-y);
    @include mixins.grid_cell(var.$cellule, var.$row, var.$end ,var.$dir-y);
    @include mixins.cell_margin(16,8)
}
